<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>站点评分</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="static/css/Article-Clean.css">
    <link rel="stylesheet" href="static/css/Map-Clean.css">
    <link rel="stylesheet" href="static/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="static/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="static/css/Simple-Slider.css">
</head>

<body>
    <form method="post"  target="postTo">
	<div class="col-md-12" style="padding-left:0px;padding-right:0px;height:0px;">
        <h3 class="text-center" style="margin-top:11px;margin-bottom:50px;"><strong>焦作车辆段检查组发现问题统计</strong><br></h3>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="intro">
            <p class="text-center"> </p>
	
        </div>
    </div>
    <div class="article-clean" style="margin-top:11px;margin-bottom:0px;"></div>
	
	<div>
	    
        <ul class="nav nav-tabs">
            <li><a href="#tab-1" role="tab-1" data-toggle="tab-1"><a href="http://192.168.168.39:5000/"><strong>排序</strong></a></a></li>
            <li class="active"><a href="#tab-2" role="tab-2" data-toggle="tab-2"><a href="http://192.168.168.39:5000/2"><strong>地图</strong></a></a></li>
            <li><a href="#tab-3" role="tab-3" data-toggle="tab-3"><a href="http://192.168.168.39:5000/1"><strong>评分</strong></a></a></li>
        </ul>
        
    </div>
	
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">站点地图</h2>
                <p class="text-center"></p>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" width="100%" height="450" id='dt' name='dtn' src="http://map.baidu.com/m?word=焦作车辆段&c=1&ie=utf-8&sc=hao123&H123Tmp=nu"></iframe></div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="static/js/Simple-Slider1.js"></script>
</form>

	</body>

</html>